.parent{
   width: 300px; 
   height:300px;
   border: 1px solid black;
   background-color:rgb(199, 155, 155);
   border-radius: 10px;
   padding: 20px;
  

}

.parent>img{
    width: 100%;
    height:200px;
}

.parent>h3{
    text-align: center;
    color: rgb(25, 24, 26);
}

.button{
    display: flex;
    justify-content: center;
}