.grid-container {
    width: 500px;
    height: 500px;
    background-color: rgb(17, 17, 16);
    display: grid;
    border: 2px solid rgb(246, 246, 246);
    /* use repeat(count,value) */
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    padding: 5px;
    box-shadow: 3px 3px 3px rgb(10, 168, 115);
}

.grid-item {
    border: 1px solid black;
    background-color: aquamarine;
    text-align: center;
    border-radius: 10px;
}

.grid-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: blue;
}

.grid-item:nth-child(4) {

    background-color: blueviolet;
}

.grid-item:nth-child(4) {
    background-color: brown;
    grid-column-start: 2;
    grid-column-end: 4;
}