.parent-container{
   border: 2px solid black;
   width: 50%;
   height: 350px;
   border-radius: 20px;
   display: flex;
   margin-left: auto;
   margin-right: auto;
   margin-top: 145px;
   justify-content: space-between;
  
}
/* parent of image */
.image-container{
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
    
}
.image-container>img{
    width: 100%;
    
}

.card{
  background-color: rgb(240, 234, 218);
  width: 50%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  
}
 
.card>div{
  margin-left: 100px;

}

